body {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.team-box {
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.team-box:hover {
  border: 3px solid #e5e5e5;
}

.team-img img {
  border: 3px solid #e0e0e0;
  /* box-shadow: 5px 10px 15px -5px rgba(231, 230, 230, 0.5); */
}

.team-title h3 {
  font-size: 24px;
  color: #fff;
}

.team-title h4 {
  font-size: 16px;
}

@media (min-width: 576px) {
  .team-section img {
    width: 60px;
  }

  .member-image {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .team-section img {
    width: 70px;
  }
}

@media (min-width: 992px) {
  .team-section img {
    width: 90px;
  }
}

@media (min-width: 1200px) {
  .team-section img {
    width: 120px;
  }
}
